<h3 class="mx-1 my-4">登録情報</h3>

<%= render 'layouts/errors', obj: @customer %>

<%= form_with model: @customer, url: public_update_customer_information_path do |f| %>
<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>名前</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.text_field :first_name, value: @customer.first_name, autofocus: true, class: "form-control form-control-sm mr-3", placeholder: "姓" %>
        <%= f.text_field :last_name, value: @customer.last_name, autofocus: true, class: "form-control form-control-sm", placeholder: "名" %>
      </div>
    </div>
</div>
      
<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>フリガナ</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.text_field :first_name_kana, value: @customer.first_name_kana, autofocus: true, class: "form-control form-control-sm mr-3", placeholder: "セイ" %>
        <%= f.text_field :last_name_kana, value: @customer.last_name_kana, autofocus: true, class: "form-control form-control-sm", placeholder: "メイ" %>
      </div>
    </div>
</div>

<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>郵便番号</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.text_field :postal_code, value: @customer.postal_code, autofocus: true, class: "form-control form-control-sm mr-3" %>
      </div>
    </div>
</div>

<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>住所</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.text_field :address, value: @customer.address, autofocus: true, class: "form-control form-control-sm mr-3" %>
      </div>
    </div>
</div>

<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>電話番号</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.text_field :telephone_number, value: @customer.telephone_number, autofocus: true, class: "form-control form-control-sm mr-3" %>
      </div>
    </div>
</div>

<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"><strong>メールアドレス</strong></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.email_field :email, value: @customer.email, autofocus: true, class: "form-control form-control-sm mr-3" %>
      </div>
    </div>
</div>

<div class="row mb-1">
  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"></label>
    <div class="col-sm-4">
      <div class="d-flex align-items-center">
        <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
      　<%= link_to "退会する",  public_customer_unsubscribe_path(@customer), class: "btn btn-danger" %>
      </div>
    </div>
</div>
<% end %>


