<div class="row">
  <div class="col">
      <h3 class="my-3 col-2">マイページ</h3>
        <div class="d-flex align-items-center">
          <h5 class="mx-2 my-3"><b>登録情報</h5>
            <%= link_to "編集する", public_edit_customer_information_path(@customer), class:"btn btn-success ml-2" %>
        </div>
            <table class="table table-striped-columns">
              <tr>
                <th class="table-light">氏名</th>
                <td>
                  <%= "#{@customer.first_name} #{@customer.last_name}"%>
                </td>
              </tr>
      
              <tr>
                <th class="table-light" >フリガナ</th>
                <td>
                  <%= "#{@customer.first_name_kana} #{@customer.last_name_kana}"%>
                </td>
              </tr>
                
              <tr>
                <th class="table-light">郵便番号</th>
                <td>
                  <%= @customer.postal_code %>
                </td>
              </tr>
                
              <tr>
                <th class="table-light">住所</th>
                <td>
                  <%= @customer.address %>
                </td>
              </tr>
                
              <tr>
                <th class="table-light">電話番号</th>
                <td>
                  <%= @customer.telephone_number %>
                </td>
              </tr>
                
              <tr>
                <th class="table-light">メールアドレス</th>
                <td>
                  <%= @customer.email %>
                </td>
              </tr>
            </table>
            
            <table>
              <tr>
                <th>配送先</th>
                <td>
                  <%= link_to "一覧を見る",  public_addresses_path(@customer), class: "btn btn-primary btn-sm mx-5" %>
                </td>
              </tr>
              <tr>
                <th>注文履歴</th>
                <td>
                  <%= link_to "一覧を見る",  public_orders_path(@customer), class: "btn btn-primary btn-sm mx-5" %>
                </td>
              </tr>
            </table>
    </div>        
  </div>
  
