<div class = container>
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">ジャンル一覧・追加</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
   
<%= form_with(model: @genre, url: admin_genre_path(@genre), method: :patch, local: true) do |f| %>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <tr>
    <td><%= f.label :ジャンル %></td>
    <td><%= f.text_field :name  %></td>
    <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
  </tr>
<% end %>
          
    
    </div>
  </div>
</div>