<h3 class="bg-secondary">配送先編集</h3>

  <%= form_with model: @address, url: public_address_path, local: true  ,method: :patch do |f| %> 
    <table>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <td><%= f.text_field :postal_code, autofocus: true %></td>
      </tr>
      
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address, autofocus: true %></td>
      </tr>
      
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      
      <tr>
        <th></th>
        <td><%= f.submit '変更内容を保存', class: "btn btn-primary" %></td>
      </tr>
    </table>
  <% end %>
  
