<h3 class="bg-secondary">注文履歴一覧</h3>

<table>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>注文ステータス</th>
    <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
    <td>
      <%= order.created_at.strftime('%Y/%m/%d') %>
      <%= order.order_address %>
      <%= order.order_details.item_id %>
      <%= order.total_payments %>
      <%= order.status %>
      <%= link_to "表示する", public_order_path, class: "btn btn-primary" %>
    </td>
    </tr>
  <% end %>
</table>
