<div class="container takasa">
  <div class="container takasa">
  <div class="row">
    <div class="col-xs-7">
      <h2><i class="fas fa-pen"></i>注文情報入力</h2>
      <p><%= notice %></p>
      <%= form_with(model: @order, local: true, url: confirm_public_orders_path, method: :post) do |f| %>
        <div>
          <%= f.label :peyment_method, "支払い方法" %><br>
          <% if @peyment_methods.present? %>
            <% @peyment_methods.each do |method| %>
              <%= f.radio_button :peyment_method, method %>
              <%= f.label :peyment_method, method %><br>
            <% end %>
          <% else %>
            <p>支払い方法がありません</p>
          <% end %>
        </div>
        
        <div>
          <%= f.label :shipping_address, "お届け先" %><br>
          <%= f.radio_button :address_option, 'self', checked: true %>
          <%= f.label :address_option, 'ご自身の住所' %><br>
        </div>
        <div>
          <%= current_customer.address %><br>
          <%= current_customer.last_name %> <%= current_customer.first_name %>
        </div>
        
        <%= f.radio_button :address_option, 'select' %>
        <%= f.label :address_option, '登録済住所から選択' %><br>
        <div>
          <% if @addresses.present? %>
            <%= f.collection_select :selected_address_id, @addresses, :id, :full_address_with_name, { prompt: '選択してください' }, { class: 'form-control' } %><br>
          <% else %>
            <p>登録済住所がありません</p>
          <% end %>
        </div>
        
        <%= f.radio_button :address_option, 'new' %>
        <%= f.label :address_option, '新しいお届け先' %><br>
        
        <div>
          <%= f.label :postal_code, '郵便番号(ハイフンなし)' %>
          <%= f.text_field :postal_code, placeholder: '0000000' %><br>
        
          <%= f.label :address, '住所' %>
          <%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0' %><br>
        
          <%= f.label :name, '宛名' %>
          <%= f.text_field :name, placeholder: '令和道子' %><br>
        </div>
        
        <div>
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>