<h4 style="margin-top: 30px;"><span style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">注文履歴詳細</span></h4>

 <h4 class="mt-3 font-weight-bold">注文情報</h4>
  <table class="table table-bordered" style="width: 400px;">
    <tr>
      <th style="padding-left: 5px;" class="table-light">注文日</th>
      <td style="width: 250px; padding-left: 5px;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
      
    <tr>
      <th style="padding-left: 5px;" class="table-light">配送先</th>
      <td style="padding-left: 5px;">
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %></td>
    </tr>
      
    <tr>
      <th style="padding-left: 5px;" class="table-light">支払い方法</th>
      <td style="padding-left: 5px;"><%= @order.peyment_method %></td>
    </tr>
      
    <tr>
      <th style="padding-left: 5px;" class="table-light">ステータス</th>
      <td style="padding-left: 5px;"><%= @order.status_i18n %></td>
    </tr>
  </table>
  
  <h4 class="mt-4 font-weight-bold">注文内容</h4>
  <table class="table table-bordered" style="width: 800px;">
    <thead>
      <tr>
        <th style="width: 100px; padding-left: 5px;" class="table-light">商品</th>
        <th style="width: 150px; padding-left: 5px;" class="table-light">単価（税込み）</th>
        <th style="width: 100px; padding-left: 5px;" class="table-light">個数</th>
        <th style="width: 100px; padding-left: 5px;" class="table-light">小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr colspan="4">
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %>円</td>
          <td><%= order_detail.amount %></td>
          <td><%= (order_detail.with_tax_price * order_detail.amount).floor.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
　<h4 class="mt-2 font-weight-bold">請求情報</h4>
  <table class="table table-bordered" style="width: 300px;">
    <tr>
      <th style="padding-left: 5px;" class="table-light">商品合計</th>
      <td style="padding-left: 5px;"><%= @order.total_payment %>円</td>
    </tr>
      
    <tr>
      <th style="padding-left: 5px;" class="table-light">配送料</th>
      <td style="padding-left: 5px;"><%= @shipping_cost %>円</td>
    </tr>
      
    <tr>
      <th style="padding-left: 5px;" class="table-light">ご請求額</th>
      <td style="padding-left: 5px;"><%= @order.with_tax_total_payment + @shipping_cost %>円</td>
    </tr>
  </table>
