<h3>注文履歴詳細</h3>

<h4>注文情報</h4>
  <table border="2" style="border-collapse: collapse">
    <tr>
      <th style="width: 150px;">注文日</th>
      <td style="width: 300px;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
      
    <tr>
      <th style="width: 150px;">配送先</th>
      <td style="width: 300px;"><%= @order.order_address %></td>
    </tr>
      
    <tr>
      <th style="width: 150px;">支払い方法</th>
      <td style="width: 300px;"><%= @order.peyment_method %></td>
    </tr>
      
    <tr>
      <th style="width: 150px;">ステータス</th>
      <td style="width: 300px;"><%= @order.status %></td>
    </tr>
  </table>
  
<h4>請求情報</h4>
  <table border="2" style="border-collapse: collapse">
    <tr>
      <th style="width: 100px;">商品合計</th>
      <td style="width: 300px;"><%= @order.total_payment %></td>
    </tr>
      
    <tr>
      <th style="width: 100px;">配送料</th>
      <td style="width: 300px;"><%= 800 %>円 %></td>
    </tr>
      
    <tr>
      <th style="width: 100px;">ご請求額</th>
      <td style="width: 300px;"><%= @order.total_payment + 800 %></td>
    </tr>
  </table>
<h4>注文内容</h4>
  <table border="2" style="border-collapse: collapse">
    <tr>
      <th style="width: 300px;">商品</th>
      <th style="width: 100px;">単価（税込み）</th>
      <th style="width: 100px;">個数</th>
      <th style="width: 100px;">小計</th>
    </tr>
    <tr>
      <% @order_item.each do |order_item| %>
        <td style="width: 300px;"><%= order_details.item.item.name %></td>
        <td style="width: 100px;"><%= order_details.item.tax_in_price.to_s %></td>
        <td style="width: 100px;"><%= order_details.amount %></td>
        <td style="width: 100px;"><%= (order_details.item.tax_in_price * @order_details.amount).to_s %></td>
      <% end %>
    </tr>
  </table>