<h4 style="margin-top: 50px;"><span style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">ログイン</span></h4>

<h4>会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row mb-1 mt-6">
      <label for="email" class="col-sm-2 col-form-label col-form-label-sm">メールアドレス</label>
      <div class="col-sm-2">
        <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm" %>
      </div>
    </div>
    
    <div class="row mb-1">
      <label for="password" class="col-sm-2 col-form-label col-form-label-sm">パスワード(6文字以上)</label>
      <div class="col-sm-2">
        <%= f.password_field :password, class: "form-control form-control-sm"%>
      </div>
    </div>
  
    <div class="row mb-1">
      <div class="col-sm-2 offset-sm-2">
        <%= f.submit "ログイン", class: 'btn btn-success btn-sm' %>
      </div>
    </div>
<% end %>

<h4 style="margin-top: 40px;"><span style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">会員登録がお済でない方</span></h4>
<%= link_to "こちら",   new_customer_registration_path %>から新規登録を行ってしてください

