<h3 class="bg-secondary">ログイン</h3>

<h4 class="bg-secondary">会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

　<table>
　  <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.email_field :email, autofocus: true %>
      </td>
    </tr>
    
    <tr>
      <th>パスワード</th>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>
    
    <tr>
      <th></th>
      <td>
       <div class="btn btn-primary"> <%= f.submit 'ログイン' %> </div>
      </td>
    </tr>
  </table>
<% end %>
  
<h4 class="bg-secondary">会員登録がお済でない方</h4>
<%= link_to "こちら",   new_customer_registration_path %>から新規登録を行ってしてください

