<h3>ログイン</h3>

<h4>会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row mb-1">
      <label for="email" class="col-sm-2 col-form-label col-form-label-sm">メールアドレス</label>
      <div class="col-sm-2">
        <%= f.email_field :email, autofocus: true, class: "form-control form-control-sm" %>
      </div>
    </div>
    
    <div class="row mb-1">
      <label for="password" class="col-sm-2 col-form-label col-form-label-sm">パスワード(6文字以上)</label>
      <div class="col-sm-2">
        <%= f.password_field :password, class: "form-control form-control-sm"%>
      </div>
    </div>
  
    <div class="row mb-1">
      <div class="col-sm-2 offset-sm-2">
        <%= f.submit "新規登録", class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
  
<h4>会員登録がお済でない方</h4>
<%= link_to "こちら",   new_customer_registration_path %>から新規登録を行ってしてください

